.btn-food {
    font-size: 18px;
    width: 30px;
    padding: 3px;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-food:hover {
    background-color: #d32f2f;
}

.input-food {
    width: 60px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#spinner i.fa-spinner {
    font-size: 3rem;
    color: #ffffff;
}

#spinner p {
    font-size: 1.2rem;
    color: #393e46;
    margin-top: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu đen với độ trong suốt 50% */
    z-index: 9998;
    /* Đặt z-index để lớp này hiển thị trên tất cả các phần tử khác */
}

/* Vô hiệu hóa sự kiện click chuột */
.overlay:active,
.overlay:hover {
    pointer-events: none;
}

/* Button common */
.sk-button {
    min-width: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

a button:focus {
    outline: none;
}

.sk-fill-button {
    background-color: #8C7542;
    color: white;
    border: solid 1px #8C7542;
}

.sk-outline-button {
    background-color: white;
    color: #8C7542;
    border: solid 1px #8C7542;
}

.button_minus {
    background-color: #FBF6F4;
    color: #D7D2C4;
}

.button_plus {
    background-color: #F0E9DE;
    color: #958D4B;
}

.button-odder {
    padding: 4px 24px 6px;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

.footer-2 .sk-button {
    width: 40%;
    padding: 7px;
    margin: 5px;
}

.backhome {
    margin-top: 40px !important;
}

.login-buttom {
    border-radius: 50px;
    margin-top: 40px !important;
}
